@import './variables';

.header {
  padding: 100px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: left;
  background-image: linear-gradient(white, white, rgba(255,255,255,0));
}

.icon {
  margin: 0;
  float: left;
  font-size: 13px;
  line-height: 38px;
  font-family: $font-family-sans-serif;
  font-weight: 600;
  //TODO: This is a placeholder for a real logo!...
  //...but honestly this looks pretty dope
}

.socials-list {
  display: inline-block;
}

.socials-list li {
  display: inline-block;
  margin-right: 1em;
}

.socials-list a:hover {
  opacity: 0.5;
}

.socials-list a {
  transition: 0.3s ease;
  padding: 0.3em 0;
}
