@import './variables';

.title-card {
  padding: 250px 0 100px;
  text-align: center;
}

.btn-link {
  margin-top: 30px;
  display: inline-block;
  padding: 12px 30px;
  background: $button-color-gray;
  border-radius: 25px;
  color: $font-color-white;
  transition: 0.3s ease;
}

.btn-link:hover {
  opacity: 0.5;
}

.title-card__text {
  width: 30em;
  display: inline-block;
  text-align: left;    
  vertical-align: top;
  margin: 4em 5em 0 0;
}

.illustration {
  display: inline-block;
  width: 20em;
}

@media only screen and (max-width: 1050px) {
  .title-card__text {
    text-align: center;
    margin: 0 0 8em 0;
    width: 100%;
  }

  .illustration {
    width: 15em;
  }
}
