$font-color-white: #FFFFFF;
$button-color-gray: #363636;

$font-family-sans-serif: usual, sans-serif;
$font-family-serif: ff-tisa-web-pro, serif;

$font-family-btn: $font-family-sans-serif;
$font-family-body: $font-family-serif;

