$font-color-white: #FFFFFF;
$button-color-gray: #363636;
<<<<<<< HEAD

$font-family-sans-serif: usual, sans-serif;
$font-family-serif: ff-tisa-web-pro, serif;

$font-family-btn: $font-family-sans-serif;
$font-family-body: $font-family-serif;

=======
>>>>>>> 4e25a3b2464a0585f6cedd1b2d1097cccb89c6c2
